.Rproj.user
.Rhistory
.RData
.Ruserdata
src/*.o
src/*.so
src/*.dll
/src/.vs
*.user
*.ipch
Win/philWIN/.vs/philWIN/v16/Browse.VC.db
Win/philWIN/.vs/philWIN/v16/Browse.VC.db
Win/philWIN/.vs/philWIN/v16/.suo
